@model BougieCandles.Data.Models.Candle

<div class="container marginTop">
    <div class="row">
        <div class="card">
            <div class="text-center view overlay hm-white-slight">
                <img src="@Model.ImageThumbNail" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">@Model.Name</h4>
                <!--Text-->
                <p class="card-text">@Model.ShortDescription.</p>
                <p class="btn btn-group pull-right">
                    <a asp-controller="Candle" asp-action="List" class="btn btn-default">Show all candles</a>
                    <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-cardId="@Model.CandleId">
                        Add @Model.Name to cart
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>